[Desktop Entry]
Name=Rofi Launcher
Comment=Application launcher
Exec=/home/randy/.local/bin/rofi-toggle
Icon=application-menu
Terminal=false
Type=Application
Categories=Utility;
