[Desktop Entry]
Name=Rofi Launcher
Comment=Application launcher
Exec=sh -c '"$HOME/.local/bin/rofi-toggle"'
Icon=application-menu
Terminal=false
Type=Application
Categories=Utility;
